/*
@font-face {
    font-family: 'Poppins100';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-Thin-100.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins200';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-ExtraLight-200.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins300';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-Light-300.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins400';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-Regular-400.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins500';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-Medium-500.woff2') format('woff2');
}
*/
@font-face {
    font-family: 'Poppins600';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-SemiBold-600.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins700';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-Bold-700.woff2') format('woff2');
}
/*
@font-face {
    font-family: 'Poppins800';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-ExtraBold-800.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins900';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Poppins-Black-900.woff2') format('woff2');
}
@font-face {
    font-family: 'Lora Regular';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Lora-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Lora Bold';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Lora-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Lora BoldItalic';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Lora-BoldItalic.woff2') format('woff2');
}
*/

@font-face {
    font-family: 'Lora Italic';
    font-style: normal;
    font-weight: 100;
    src: local('Clear Sans Thin'), url('/web/fonts/Lora-Italic.woff2') format('woff2');
}


* {
    margin: 0;
    padding: 0;
    font-family: Graphik_regular;
}

body
  {
    width: 100%;
    max-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}